<template lang="pug">
  b-container
    b-row  
        b-col(v-for="(post,index) in filteredPost" :key="index")
            b-card(
                :title="post.title"
            )

</template>
<script>
import { mapState, mapActions } from 'vuex'

export default {
    computed: {
        ...mapState({
            posts: state => state.posts.all
        }),
        filteredPost() {
            return this.posts.slice(0, 4);
        }
    },
    created() {
        this.$store.dispatch('posts/getPosts')
    }
}
</script>
