<template>
    <b-button-group>
        <b-button variant="success" @click="setIncrement(-1)">-</b-button>
        <b-form-input :value="increment" type="text" class="text-center"></b-form-input>
        <b-button variant="success" @click="setIncrement(1)">+</b-button>
    </b-button-group>
</template>

<script>
export default {
    props: ['increment', 'id'],

    methods: {
        setIncrement(val) {
            if (val === 1) this.$store.commit('products/INCREMENT', this.id);
            else this.$store.commit('products/DECREMENT', this.id);
        }
    }
}
</script>

