<template>
    <div>
        <b-card :title="id +' '+name" img-src="https://picsum.photos/600/300/?image=25" img-alt="Image" img-top tag="article" style="max-width: 20rem;" class="mb-2">
            <p class="card-text d-flex justify-content-between">
                <span> {{totalWeight }}</span>
                <span>{{totalPrice | currency}}</span>
            </p>
            <Counter :increment="increment" :id="id" class="mb-2" />
            <div class="d-flex justify-content-between">
                <b-button variant="primary" @click="buy">Buy</b-button>
                <router-link :to="`/product/${id}`">view product</router-link>
            </div>
        </b-card>
    </div>
</template>

<script>
import Counter from './Counter'
export default {
    props: ['name', 'price', 'weight', 'id', 'increment', 'totalPrice', 'totalWeight'],

    components: { Counter },

    methods: {
        buy() {
            this.$store.commit('products/BUY_PRODUCT', this.id);
        }
    }
}
</script>

<style lang="scss">

</style>
