<template>
    <div>
        <div class="py-5">
            <b-container>
                <h2>Catalog</h2>
                <b-row>
                    <b-col sm="6" v-for="(product, id) in getCatalog" :key="id">
                        <Product v-bind="product" />
                    </b-col>
                </b-row>
            </b-container>
        </div>
        <OftenViewed/>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import Product from '../components/Product/Product'
import OftenViewed from '../components/OftenViewed'

export default {
    components: { Product, OftenViewed },

    computed: {
        ...mapGetters('products', ['getCatalog'])
    },

    created() {
        this.$store.dispatch('products/getCatalog');
    }
}
</script>
