<template>
    <div class="product">
        <b-card bg-variant="dark" text-variant="white" :title="product.name" :sub-title="'Discount: '+ product.discount">
            <p class="card-text d-flex justify-content-between">
                <span> {{product.totalWeight }}</span>
                <span>{{product.totalPrice | currency}}</span>
            </p>
            <Counter :increment="product.increment" :id="id" class="mb-2" />
            <div class="d-flex justify-content-between">
                <b-button variant="primary" @click="buy">Buy</b-button>
            </div>
        </b-card>
        <ResentViewed :currentId="id" />
    </div>
</template>

<script>
import ResentViewed from '../components/ResentViewed'
import Counter from '../components/Product/Counter'
import { mapGetters } from 'vuex'

export default {
    components: { ResentViewed, Counter },

    data: () => ({
        id: undefined
    }),

    computed: {
        ...mapGetters('products', ['getProduct']),

        product() {
            return this.getProduct(this.id);
        }
    },
    methods: {
        buy() {
            this.$store.commit('products/BUY_PRODUCT', this.id);
        },

        getProductData() {
            this.id = this.$route.params.id;
            if (_.isEmpty(this.product)) this.$store.dispatch('products/getProduct', this.id);

            this.$store.commit('products/ADD_RESENT', this.id);
        }
    },

    watch: {
        $route: 'getProductData'
    },

    created() {
        this.getProductData()
    },

    beforeDestroy() {

    }
}
</script>

<style>
.product {
    padding-top: 140px;
}
</style>
