<template>
    <div>
        <b-form @submit="onSubmit" @reset="onReset" v-if="show">
            <input type="email" @change="onChange" name="email" class="from-control">
            <b-form-group id="exampleInputGroup2" label="Your Name:" label-for="exampleInput2">
                <b-form-input id="exampleInput2" type="text" v-model="form.name" required placeholder="Enter name">
                </b-form-input>
            </b-form-group>
            <b-form-group id="exampleInputGroup3" label="Food:" label-for="exampleInput3">
                <b-form-select id="exampleInput3" :options="foods" required v-model="form.food">
                </b-form-select>
            </b-form-group>
            <b-form-group id="exampleGroup4">
                <b-form-checkbox-group v-model="form.checked" id="exampleChecks">
                    <b-form-checkbox value="me">Check me out</b-form-checkbox>
                    <b-form-checkbox value="that">Check that out</b-form-checkbox>
                </b-form-checkbox-group>
            </b-form-group>
            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            form: {
                email: '',
                name: '',
                food: null,
                checked: []
            },
            foods: [
                { text: 'Select One', value: null },
                'Carrots', 'Beans', 'Tomatoes', 'Corn'
            ],
            show: true
        }
    },
    methods: {
        onChange(e) {
            let name = e.target.name,
                value = e.target.value;

            this.socket.send();
        },
        onSubmit(evt) {
            evt.preventDefault();
        },
        onReset(evt) {
            evt.preventDefault();
            /* Reset our form values */
            this.form.email = '';
            this.form.name = '';
            this.form.food = null;
            this.form.checked = [];
            /* Trick to reset/clear native browser form validation state */
            this.show = false;
            this.$nextTick(() => { this.show = true });
        },
        init() {
            this.socket = new WebSocket("ws://localhost:4000/ws");
            this.socket.onopen = function() {
                alert("Соединение установлено.");
            };
        }
    },
    mounted() {
        this.init();
    }
}
</script>

<!-- b-form-1.vue -->