<template>
    <div class="cart py-3">

        <b-container>
            <div v-if="!isCartEmpty">
                <div class="row">
                    <b-col sm="4" v-for="(product, id) in getMainOrder" :key="id">
                        <div class="cart__item">
                            <div class="d-flex justify-content-between">
                                <span class="pr-4">{{product.id+' '+product.name}}</span>
                                <span>{{product.totalPrice | currency}}</span>
                            </div>
                            <Counter v-bind="product" />
                            <button class="cart-delete" @click="remove(product.id)">X</button>
                        </div>
                    </b-col>
                </div>

                <b-form-checkbox-group name="flavour1" @input="input" :checked="selected">
                    <b-form-checkbox :value="`${product.id}`" v-for="(product, id) in getAdditional" :key="id">{{product.name}}</b-form-checkbox>
                </b-form-checkbox-group>
            </div>
            <span class="h3 cart-total">Всего: {{getTottal | currency}}</span>
        </b-container>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Counter from './Product/Counter'

export default {
    components: { Counter },
    computed: {
        ...mapGetters('products', ['getMainOrder', 'getAdditional', 'getTottal', 'getAdditionalOrder']),
        selected() {
            let arr = this.getAdditionalOrder.map(p => {
                if (p.views.includes('additional')) return `${p.id}`
            });
            return arr.filter(k => k);
        },

        isCartEmpty() {
            return !this.getMainOrder.length;
            return _.isEmpty(this.getMainOrder)
        }
    },

    data: () => ({

    }),

    methods: {
        remove(id) {
            this.$store.commit('products/DELETE_PRODUCT', id);
        },
        input(ids) {
            let delta = this.selected.length - ids.length;
            let id = delta > 0 ? _.difference(this.selected, ids)[0] : _.difference(ids, this.selected)[0];

            if (id) {
                if (delta > 0) this.$store.commit('products/DELETE_PRODUCT', id);
                else this.$store.commit('products/BUY_PRODUCT', id);
            }
        },
    },

    watch: {

    },

    created() {
        this.$store.dispatch('products/getAdditional');
        this.$store.dispatch('products/getOrder');
    }
}
</script>
<style lang="scss">
.cart {
    background: #fafafa;
    position: fixed;
    top: 24px;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 3px #b5a4a4;

    &-total {
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 20px;
    }

    &-delete {
        position: absolute;
        right: 0;
        top: 0;
        background: none;
        border: none;
        box-shadow: none;
        cursor: pointer;
    }

    &__item {
        position: relative;
        padding-right: 30px;
    }
}
</style>

