<script>
export default {
    template: '<div class="lds-dual-ring"></div>'
}
</script>
<style>
.lds-dual-ring {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: red transparent red transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>
