<template>
    <div class="py-5">
        <b-container>
            <h2>Resent viwed</h2>
            <b-row>
                <b-col sm="6" v-for="(product, id) in getResent(currentId)" :key="id">
                    <Product v-bind="product" />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Product from './Product/Product'

export default {
    props: ['currentId'],
    components: { Product },

    computed: mapGetters('products', ['getResent']),

    created() {
        this.$store.dispatch('products/getResent');
    }
}
</script>

<style>

</style>
