<template>
  <div>
    <header class="header py2">
      <router-link to="/">Home</router-link>
    </header>
    <Cart/>
    <router-view/>
  </div>
</template>

<script>
import Cart from './components/Cart'

export default {
  name: 'app',
  components: { Cart },
  data() {
    return {
    }
  },



}
</script>
<style lang="scss">
.header {
  background: #ececec;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
</style>
